.top-bar__quick-links a {
    font-family: var(--font-span);
    font-size: var(--fuente-dinamica-a_top-navegation);
}

.hero h2, p {
    color: aliceblue; 
}

.title-menu {
    color: rgb(230, 227, 227);
    text-align: center;
    align-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.article-producto h3, p,
.boton-pedir {
    font-family: var(--font-display);
} 

.caja-horarios,
.caja-ubicacion h3 {
    font-family: var(--font-h1);
}
