.div-article-boton {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.article-producto {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 1rem;
    width: 100%;
    height: auto;
    border: 1px solid rgba(139, 139, 139, 0.483);
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-top-left-radius: 5px;
    padding: 1rem;
    color: rgb(248, 248, 248);
}

.article-producto img {
    display: block;
    width: 400px;
    height: 120px;
    border-radius: 1rem;
}

.caja-pedido {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    gap: 0.5rem;
}

.boton-pedir {
    width: 50%;
    border: 1px solid rgba(139, 139, 139, 0.483);
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 8px;
    color: rgb(248, 248, 248);
}

.span-precio {
    color: var(--blanco);
    font-family: var(--font-span);
    font-size: var(--fuente-dinamica);
    background-color: rgba(61, 61, 61, 0.483);
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 1rem;
}