.viewport-categoria.cerrado {
    display: none;
    opacity: 0;
    transform: translateY(-25px);
}

.viewport-categoria.abierto {
    display: flex;
    animation: viewportAbierto 400ms ease-out forwards;
}

@keyframes viewportAbierto {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.viewport-categoria.cerrando {
    display: flex;
    animation: viewportCerrando 400ms ease-out forwards;
}

@keyframes viewportCerrando {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-25px);
    }
}