.atajos-navegation {
    display: flex;
    padding: 1rem;
}

.caja-atajos-navegation {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.scroll-categorias {
    font-family: var(--font-display);
    font-size: 1.3rem;
    padding: 5px 10px;
    color: var(--blanco);
}