.site-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top: 1rem solid rgba(34, 33, 33, 0.46);
    background-color: rgb(28, 28, 28);
    padding-top: 2rem;
    
}

.footer-brand,
.footer-info,
.caja-horarios,
.caja-ubicacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 0.8rem;
}