.site-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top: 1rem solid rgba(177, 114, 31, 0.864);
    background-color: rgb(15, 15, 15);
    padding-top: 2rem;
}

.footer-brand,
.footer-info,
.caja-horarios,
.caja-ubicacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 0.8rem;
}